<ion-header>
  <ion-navbar  color="primary" #top>
    <ion-title text-center text="4vw">창업의 틈을찾다</ion-title>
    <ion-buttons end *ngIf="loginChk">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="loginChk">
      <button ion-button icon-only  (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
        <ion-card-content>
1
        </ion-card-content>
        <ion-card-content>
2
        </ion-card-content>
        <ion-card-content>
3
        </ion-card-content>

  </ion-card>
</ion-content>
